<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-sample"
        version="1.0.0">
    <name>SamplePlugin</name>
    <description>Cordova Sample Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova, sample, plugin</keywords>
    <engines>
        <engine name="cordova" version=">=9.0.0" />
    </engines>
    <edit-config file="AndroidManifest.xml"
                 target="/manifest/application"
                 mode="merge">
     <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" tools:node="remove"/>
     <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" tools:node="remove"/>
    </edit-config>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SamplePlugin">
                <param name="android-package" value="com.example.sampleplugin.SamplePlugin" />
            </feature>
        </config-file>
        <source-file src="src/android/SamplePlugin.java" target-dir="src/com/example/sampleplugin" />
    </platform>
    <js-module src="www/sample.js" name="SamplePlugin">
        <clobbers target="samplePlugin" />
    </js-module>
</plugin>
